.tree, .tree ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.tree .nested {
  display: none;
}

.tree .folder {
  cursor: pointer;
  display: block;
  margin: 5px 0;
  color: #aaf;
}

.tree .folder::before {
  content: "▶ ";
  display: inline-block;
  transition: transform 0.2s;
}

.tree .folder.active::before {
  content: "▼ ";
}
